html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

#root {
  height: 100%
}

.App{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Select whatever element comes after the nav because we're 
not using a standard single div element to wrap page body content */
.App > nav + *{
  flex: 1 1 100%;
}

.Input {
  width: 10%;
}

.bookDisplay{
  position: relative;
}

.bookDisplay .price{
  display: block;
  position: absolute;
  bottom: 4%;
  left: 4%;
  font-weight: bold;
  background: green;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  /* border: rgba(0,0,0,.2) solid 1px; */
  box-shadow: 0 0 5px rgba(0,0,0,1)
}

.cover{
  
    height: 294px;
    width: 200px;
}


.bookTitle{
  font-size: 18px;
}

.bookDesc{
  font-size: 15px;
  padding-top: 20px;
  max-height: 1em;
}

main {
  flex: 1 0 auto;
}

a:link {
  color: white;
}


a:visited {
  color: white;
}

.pagination{
  text-align: center;
}