body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Input {
  width: 10%;
}

.cover{
  
    height: 294px;
    width: 200px;
}

.bookTitle{
  font-size: 18px;
}

.bookDesc{
  font-size: 12px;
}
